/* global rules */
html,body {
	height: 100%; 
	margin: 0px; 
	padding: 0px; 
}
     

.wall {
    background-image: url("../images/bg1.jpg");
	background-color: rgba(0,0,0,1);
	background-size: cover;
	height:100%;
}

.overlay{
	background-color: rgba(0,0,0,.49);
	height:100%;
}

.size-xs { font-size: 1rem; }
.size-sm { font-size: 2rem; }
.size-md { font-size: 3rem; }
.size-lg { font-size: 4rem; }
.size-xl { font-size: 8rem; }

.hide { display: none !important; }
.bold { font-weight: bold !important; }
.text-left { text-align: left !important; }

.padTop_10 { padding-top: 10px !important; }

/* custom fonts */
/*TODO: check if these fonts are needed at all*/
@font-face {
	font-family: 'gurumukhi';
	font-style: normal;
	font-weight: 400;

	src: url(fonts/punjabi/NotoSansGurmukhiUI-Regular.eot);
	src: url(fonts/punjabi/NotoSansGurmukhiUI-Regular.eot?#iefix) format('embedded-opentype'),
		url(fonts/punjabi/NotoSansGurmukhiUI-Regular.woff2) format('woff2'),
		url(fonts/punjabi/NotoSansGurmukhiUI-Regular.woff) format('woff'),
		url(fonts/punjabi/NotoSansGurmukhiUI-Regular.ttf) format('truetype');
}

@font-face {
	font-family: 'devanagari';
	font-style: normal;
	font-weight: 400;

	src: url(fonts/hindi/NotoSansDevanagari-Regular.eot);
	src: url(fonts/hindi/NotoSansDevanagari-Regular.eot?#iefix) format('embedded-opentype'),
		url(fonts/hindi/NotoSansDevanagari-Regular.woff2) format('woff2'),
		url(fonts/hindi/NotoSansDevanagari-Regular.woff) format('woff'),
		url(fonts/hindi/NotoSansDevanagari-Regular.ttf) format('truetype');
}


/* alphabets */
[class*="pj-alphabet"] {
	font-family: 'gurumukhi';
}
.pj-alphabet-omkar:before {
	content: "\0A74";
}
.pj-alphabet-a:before {
	content: "\0A05";
}
.pj-alphabet-aa:before {
	content: "\0A06";
}

[class*="hn-alphabet"] {
	font-family: 'devanagari';
}
.hn-alphabet-a:before {
	content: "\0905";
}



.other-lang div {
	display: inline-block;
}

.letter{
  display: inline-block;
}

.daily-letter {
	color: #af9f66;
	margin: 0 20px;
  position: relative;
  text-align: center;
}

.prev, .next {
	font-style: italic;
    font-size: 4rem;
    color: #ffffff;
	    position: absolute;
	text-decoration: none;
    
}
.prev:active,
.next:active,
.prev:focus,
.next:focus {
	color: #ffffff;
}
.prev {
	left: 0;
}
.next {
	right: 0;
}

.words-heading {
	text-align: left;
}
.word-info {
	
	margin: 0 20px;
}
.word-info h3 {
	font-size: 1.5rem;
	text-align: left;
	width: 175px;
}

.meta-list {
	text-align: left;
}
.meta-list dt,
.meta-list dd {
	display: inline-block;
	margin: 0;
	text-align: center;
	width: 30%;
}
.meta-list dt {
	display: none;
}

.words-list {
	list-style-type: none;
	padding: 0;
}
.words-list li {
	float: left;
	font-size: 2rem;
	width: 25%;
}



/* @media only screen and (min-width: 768px) {
	html, body {
		font-size: 16px;
	}
	.word-info {
		padding: 0 20%;
	}
	.word-info h3 {
		font-size: inherit;
		float: left;
	}
	.meta-list dd {
		margin-right: 40px; 
		width: 100px;
	}
	.words-list {
		display: inline-block;
		width: 75%;
	}
} */

* {
  box-sizing: border-box;
}

/* Simple Responsive Framework. */
.row {
  width: 100%;
}

/********** Desktop View **********/
@media (min-width: 992px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;    
  }
  .col-lg-1 {
    width: 8.33%;
  }
  .col-lg-2 {
    width: 16.66%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-4 {
    width: 33.33%;
  }
  .col-lg-5 {
    width: 41.66%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-7 {
    width: 58.33%;
  }
  .col-lg-8 {
    width: 66.66%;
  }
  .col-lg-9 {
    width: 74.99%;
  }
  .col-lg-10 {
    width: 83.33%;
  }
  .col-lg-11 {
    width: 91.66%;
  }
  .col-lg-12 {
    width: 100%;
  }
}
/********** Tablet View **********/
@media (min-width: 768px) and (max-width: 991px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
    
  }
  .col-md-1 {
    width: 8.33%;
  }
  .col-md-2 {
    width: 16.66%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-4 {
    width: 33.33%;
  }
  .col-md-5 {
    width: 41.66%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-7 {
    width: 58.33%;
  }
  .col-md-8 {
    width: 66.66%;
  }
  .col-md-9 {
    width: 74.99%;
  }
  .col-md-10 {
    width: 83.33%;
  }
  .col-md-11 {
    width: 91.66%;
  }
  .col-md-12 {
    width: 100%;
  }
}

